src/main/resources/templates/**/*.html linguist-detectable=false
src/main/resources/static/**/*.html linguist-detectable=false
src/main/resources/static/**/*.css linguist-detectable=false
src/main/resources/static/**/*.js linguist-detectable=false